*.exe
*.internal
*.pyc
*.syso
.DS_Store
.eslintcache
.idea
.vscode
/Icon*
/bin
/out/
/scripts/packages/
/third_party/*/lib*.a
/third_party/*/target
/webapp/public
Cargo.lock
benchmark/.env
benchmark/git-info.env
build
libpyspy.a
libpyspy.h
libpyspy.so
main
node_modules
pkged.go
third_party/rustdeps/lib*
tmp
vendor/
